.overlay {
  position: relative;
  .over-white {
    width: 100%;
    height: 100%;
    background: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transform: scaleX(0);
    animation: over-slide-in 0.6s cubic-bezier(0, 0.5, 1, 1);
    &.right {
      transform-origin: right;
    }
    &.left {
      transform-origin: left;
    }
  }
  .over {
    width: 100%;
    height: 100%;
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all 0.6s cubic-bezier(0.6, 0, 0, 1);
    transition-delay: 0.3s;
    &.right {
      transform-origin: right;
    }
    &.left {
      transform-origin: left;
    }
    &.open {
      transform: scaleX(0);
      transition: all 0.8s cubic-bezier(0.6, 0, 0, 1);
      transition-delay: 0.4s;
    }
  }
}

@keyframes over-slide-in {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
