#job-form-wrap {
  padding: 30px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  .upload {
    line-height: 1.9;
    cursor: pointer;
    position: absolute;
    display: block;
    margin-bottom: 10px;
    height: 25px;
    width: 300px;
    color: var(--text-light);
    input {
      cursor: pointer;
      display: block;

      top: 0;
      left: 0;
    }
    .file-name {
      margin-bottom: 0;
    }
    .upload-type {
      color: var(--text-light);
      display: block;
    }
  }
}
