#section-hero {
  height: 90vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  top: -20px;
  .container {
    .img-wrap {
      position: relative;
      display: none;
    }
    .explore {
    }
  }
}
#star {
  visibility: hidden;
}
@media (min-width: 992px) {
  #section-hero {
    .container {
      height: 100%;
      .img-wrap {
        display: block;
        height: 100%;
        #Layer_4 {
          position: absolute;
          width: 0;
          height: 0;
          .cls-1 {
            fill: none;
            stroke: #d1d1d1;
          }
        }
        .clip-svg {
          height: 100%;
          width: 50vw;
          clip-path: url(#svg-clip);
          -webkit-clip-path: url(#svg-clip);
          img {
            max-width: unset;
            min-width: 100%;
            min-height: 100%;
          }
        }
      }
    }
  }
}
