#pricing-plan-hero {
  margin-top: 200px;
  h4.colorize-text {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .reveal-text {
    color: var(--text-light);
  }
  .arrow-img-wrap {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    img {
      display: none;
    }
    .text-split-child {
      display: none;
    }
  }
  .switch-wrap {
    display: flex;
    opacity: 0;
    justify-content: center;
    animation: text-slide-in 0.6s forwards;
    animation-delay: 1.6s;
  }
  .show-additional {
    cursor: pointer;
  }
  .additional-cards {
    display: none;
    .plan-card-additional {
      opacity: 0;
      padding: 20px 40px;
      box-shadow: var(--pp-box-shadow);
      .title-additional {
        display: flex;
        align-items: center;
        h3 {
          text-transform: unset;
          font-size: 1.5rem;
          margin-bottom: 0;
          margin-left: 20px;
        }
      }
    }
  }

  .feature-wrap {
    text-align: left;
    overflow: auto;
    transition: max-height 0.4s ease-in-out;
    .feature-name {
      padding-top: 30px;
      text-transform: unset;
      font-size: 1rem;
      margin-bottom: 20px;
    }
    .feature-list {
      padding: 35px 0;
      padding-top: 0;
      border-bottom: solid 1px rgba(206, 212, 218, 0.2);

      li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        img {
          margin-bottom: 0;
          max-width: 16px;
          width: 100%;
        }
        p {
          color: var(--text-light);
          margin-bottom: 0;
          line-height: 1.3;
          margin-left: 8px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #pricing-plan-hero {
    .show-additional {
      display: flex;
    }
    .additional-cards {
      display: flex;
    }
    .arrow-img-wrap {
      img {
        display: inline-block;
        vertical-align: top;
      }
      .text-split-child {
        display: flex;
        font-size: 1.25rem;
      }
    }
  }
}
