#about-team {
  .circle-wrap {
    position: relative;
    width: 100%;
    .team-avatar {
      height: 50px;
      width: 50px;
      position: absolute;
      border-radius: 50%;
      overflow: hidden;
    }
    .circle-bg {
      background: rgb(255, 46, 46);
      height: 100%;
      opacity: 0.2;
      border-radius: 50%;
    }
    .circle-inner {
      opacity: 0;

      position: absolute;
      width: 31.9%;
      height: 31.9%;
      top: 34.05%;
      left: 34.05%;
      z-index: 2;
      border-radius: 100%;
      .team-avatar {
        top: -5%;
        right: 1%;
        &:nth-of-type(2) {
          top: unset;
          left: -11%;
          bottom: -5%;
        }
      }
    }
    .circle-middle {
      opacity: 0;

      position: absolute;
      width: 66.67%;
      height: 66.67%;
      top: 16.665%;
      left: 16.665%;
      z-index: 1;
      border-radius: 100%;
      .team-avatar {
        top: 40%;
        right: -9%;

        &:nth-of-type(2) {
          right: 36%;
          bottom: -9%;
          top: unset;
        }
        &:nth-of-type(3) {
          top: -8%;
          left: 30%;
        }
      }
    }
    .circle-outer {
      opacity: 0;

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      border-radius: 100%;
      .team-avatar {
        top: -1%;
        right: 18%;
        &:nth-of-type(2) {
          top: 7%;
          right: 79%;
        }
        &:nth-of-type(3) {
          top: unset;
          bottom: 10%;
          right: 79%;
        }
        &:nth-of-type(4) {
          top: unset;
          bottom: 15%;
          right: 3%;
        }
      }
    }
  }
  h3 {
    text-transform: uppercase;
  }
  h5 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 60px;
  }
}

@media (min-width: 576px) {
  #about-team {
    .circle-wrap {
      .team-avatar {
        width: 80px;
        height: 80px;
      }
    }
  }
}
