#section-second {
  .text-wrap {
    .heading {
      margin-bottom: 10px;
      color: red;
      background: var(--accent-color);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .img-wrap {
    position: relative;
    margin-bottom: 80px;

    .img-large {
      width: 80%;
    }
    .img-small {
      max-width: 380px;
      width: 50%;
      position: absolute;
      bottom: -24px;
      left: 0;
    }
  }
}
@media (min-width: 768px) {
  #section-second {
    .img-wrap {
      .img-large {
        justify-content: flex-end;
        img {
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  #section-second {
    .text-wrap {
      margin-bottom: 0;
      .heading {
        margin-bottom: 30px;
      }
    }
    .img-wrap {
      margin-bottom: 0;

      .img-small {
        left: -50px;
        width: 70%;
        bottom: -44px;
      }
    }
  }
}

@media (min-width: 1200px) {
  #section-second {
    .img-wrap {
      .img-large {
        width: 100%;
      }
      .img-small {
        left: -40px;
        width: 100%;
        bottom: -44px;
      }
    }
  }
}
