.reveal-text {
  & > div {
    position: relative;
    margin: 0;
  }
}
.text-split-parent {
  display: inline-block;
}
.text-split-child {
  transform: translateY(50%);
  display: inline-block;
  opacity: 0;
}
.reveal-text {
  .text-split-parent,
  .text-split-child {
    font-size: 1rem;
    color: var(--text-light);
    line-height: 1.8;
    font-weight: 400;
  }
}
