.reveal-title {
  & > div {
    position: relative;
    margin: 0;
  }

  &.colorize-text {
    background: var(--accent-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    .split-child {
      background: var(--accent-color);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.split-parent {
  overflow: hidden;
}
.split-child {
  transform: translateY(100%);
  display: inline-block;
}

li {
  .split-parent,
  .split-child {
    color: var(--text-light);
  }
  .split-parent {
    margin-bottom: 10px;
  }
}
.colorize {
  font-size: 2rem;
  background: var(--accent-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-size {
  font-size: 2rem;
  display: block;
}
@media (min-width: 768px) {
  .title-size,
  .colorize {
    font-size: 2.625rem;
  }
}
