.overflow-wrapper {
  overflow: hidden;
  .list-item {
    display: block;
    transform: translateY(100%);
    text-transform: uppercase;
    font-size: 0.75rem;
    color: var(--text-light);
    line-height: 1.8;
  }
}
