#section-hero {
  height: 100vh;

  .container {
    height: 100%;

    .img-wrap {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  #section-hero {
    .container {
      .img-wrap {
        display: block;
      }
    }
  }
}
