#all-posts {
  h2 {
    margin-bottom: 0;
  }
  .post-wrap {
    opacity: 0;
    transform: translateX(50px);
    &.animate {
      opacity: 1;
      transform: translateX(0);
      transition: 0.4s;
    }
    &:hover {
      .post-title {
        .split-title {
          &::after {
            transform: scaleX(1);
            transform-origin: left center;
            transition: transform 0.2s cubic-bezier(1, 0, 0, 1);
          }
        }
      }
    }
    .post-title {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    .date-line {
      width: 30px;
      height: 1px;
      background-color: var(--text-primary);
    }
    .date {
      display: block;
      color: var(--text-light-sec);
      margin-left: 6px;
      font-size: 0.75rem;
    }
    .post-intro {
      p {
        color: var(--text-light-sec);
      }
    }
  }
}
