#service-approach {
  margin-bottom: 100px;
  .list-item {
    border-bottom: 1px solid #eee;
    h3 {
      font-size: 1.25rem;
    }
    .reveal-text {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 992px) {
  #service-approach {
    margin-bottom: 180px;
  }
}
