#work-list {
  margin-top: 120px;
  .text-wrap {
    padding-bottom: 160px;
    text-align: center;
  }
  .img-wrap {
    margin-bottom: 60px;
    img {
      margin-bottom: 30px;
    }
    .overflow {
      margin-bottom: 10px;
      h4 {
        display: inline-block;
        text-transform: initial;
        font-size: 1.5rem;
        margin-bottom: 0;
        &.underline {
          &::after {
            height: 2px;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  #work-list {
    .img-wrap {
    }
  }
}
