.project-cards-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  .project-card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 20px;
    border-radius: 10px;
    border: 1px solid var(--border-card);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.07);
    &.checked {
      border: 1px solid transparent !important;
      background: linear-gradient(var(--background), var(--background)) padding-box,
        linear-gradient(to right, #ff416c, #ff4b2b) border-box;
      .checkbox {
        background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
        border: unset;
      }
    }
    img {
      margin-bottom: 30px;
    }
    .card-title {
      margin-bottom: 0;
      font-size: 1.25rem;
      color: var(--text-light-sec);
    }
    input[type="checkbox"] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: 0;
      right: 0;
    }
    .checkbox {
      position: absolute;
      top: 10px;
      right: 15px;
      height: 20px;
      width: 20px;
      border-radius: 5px;
      background: transparent;
      border: 1px solid #d3d3d3;
      &::after {
        content: "";
        position: absolute;
        display: block;
        left: 8px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid var(--background);
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }
}
@media (min-width: 768px) {
  .project-cards-wrap {
    .project-card {
      padding: 50px 20px;
      img {
        margin-bottom: 50px;
      }
    }
  }
}

@media (min-width: 992px) {
  .project-cards-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
