footer {
  .logo {
    display: inline-block;
    width: 180px;
    margin-bottom: 40px;
  }
  h4 {
    line-height: 1.8;
  }
  a,
  li {
    color: var(--text-light);
  }
  ul {
    li {
      line-height: 1.8;
    }
  }
  .social-list {
    margin-bottom: 40px;
    .social-list-item {
      margin-right: 30px;
    }
  }
  .footer-email {
    position: relative;
    max-width: 80%;
    label {
      position: absolute;
      top: 12px;
      left: 12px;
      font-size: 0.875rem;
      color: var(--text-light);
      transition: 0.2s;
    }
    input {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;

      background-color: var(--background);
      font-size: 1rem;
      &:focus {
        outline: none;
        border: 1px solid transparent;
        background: linear-gradient(to right, var(--background), var(--background)),
          var(--accent-color);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        & + label {
          top: -10px;
          background: var(--background);
          color: #ff416c;
          transition: 0.2s;
        }
      }
      &:not(:focus):not(:placeholder-shown) + label {
        display: none;
      }
    }
  }
  .round {
    margin-right: 0;

    &::after,
    &::before {
      transform: rotate(-90deg);
    }
    &:hover {
      &::before {
        opacity: 1;
        transform: rotate(-90deg);
      }
      &::after {
        opacity: 0;
      }
    }

    &:hover {
      transform: scale(1);
    }
  }
  .footer-copyright {
    .copyright-wrap {
      padding: 32px 0;
      border-top: 1px solid #eee;
      .copyright-links {
        a {
          &:first-of-type {
            margin-right: 10px;
          }
        }
      }
      a {
        font-size: 0.875rem;
      }
    }
  }
}
