footer {
  .logo {
    display: inline-block;
    width: 180px;
    margin-bottom: 40px;
  }
  h4 {
    line-height: 1.8;
  }
  a,
  li {
    color: var(--text-light);
  }
  ul {
    li {
      line-height: 1.8;
    }
  }
  .social-list {
    margin-bottom: 40px;
    .social-list-item {
      margin-right: 30px;
    }
  }

  .footer-copyright {
    .copyright-wrap {
      padding: 32px 0;
      border-top: 1px solid #eee;
      .copyright-links {
        a {
          &:first-of-type {
            margin-right: 10px;
          }
        }
      }
      a {
        font-size: 0.875rem;
      }
    }
  }
}
