#slider-item {
  position: relative;
  display: flex;
  background: #000;
  height: 100%;
  max-height: 300px;
  width: auto;
  transform: translateX(35px);
  opacity: 0;
  &:hover {
    .slider-text-wrap {
      .text-desc-wrap {
        .line {
          &::after {
            transform: scaleX(1);
            transition: all 0.3s;
          }
        }
      }
    }
  }
  img {
    width: auto;
    height: min-content;
    object-fit: cover;
    object-position: left;
    opacity: 0.9;
  }
  .slider-text-wrap {
    width: 50%;
    position: absolute;
    padding: 0 0 40px 20px;
    bottom: 0;
    left: 0;
    h4,
    h5 {
      color: #fff;
    }
    h4 {
      text-transform: initial;
      margin-bottom: 20px;
      font-size: 1.5rem;
    }
    .text-desc-wrap {
      display: flex;
      align-items: center;
      .line {
        width: 50px;
        height: 1px;
        background: #fff;
        display: inline-block;
        position: relative;
        margin-right: 10px;
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          background: var(--accent-color);
          transition: all 0.3s;
          transform: scaleX(0);
          transform-origin: left;
        }
      }
      .slider-text-desc {
        position: relative;
        span {
          text-transform: uppercase;
          font-size: 1rem;
        }
        div {
          color: #fff;
        }
      }
      .slider-text-hover {
        position: absolute;

        left: 80px;
        div {
          .bottom-char {
            opacity: 0;
            transform: translateY(60%);
            color: red;
            background: linear-gradient(to right, #f91824, #f92d73);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}
@media (min-width: 576px) {
  #slider-item {
    .slider-text-wrap {
      width: 66%;
    }
  }
}

@media (min-width: 768px) {
  #slider-item {
    max-height: 420px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      opacity: 0.9;
    }
    .slider-text-wrap {
      width: 100%;
    }
  }
}
