#quote-page {
  padding-top: 70px;
  .text-wrap {
    margin-bottom: 40px;
    text-align: center;
    p {
      color: var(--input-text);
    }
  }
}

@media (min-width: 768px) {
  #quote-page {
    padding-top: 120px;
    .text-wrap {
      margin-bottom: 90px;
    }
  }
}

@media (min-width: 992px) {
  #quote-page {
    padding-top: 180px;
    .text-wrap {
      margin-bottom: 120px;
    }
  }
}
