.reveal-title {
  & > div {
    position: relative;
    margin: 0;
  }
}
.split-parent {
  overflow: hidden;
}
.split-child {
  display: inline-block;
}

li {
  .split-parent,
  .split-child {
    color: var(--text-light);
  }
  .split-parent {
    margin-bottom: 10px;
  }
}
