#section-blog-comment {
  .form-wrap {
    display: grid;
    gap: 20px;
    margin-bottom: 30px;
    input,
    textarea {
      border-radius: 5px;
      border: solid 1px #ccc;
      padding: 18px;
      font-size: 1rem;
      color: var(--text-primary);
      background: transparent;
      &::placeholder {
        color: #bababa;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
@media (min-width: 768px) {
  #section-blog-comment {
    .form-wrap {
      grid-template-columns: repeat(2, 1fr);
      input[type="text"] {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      input[type="email"] {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      textarea {
        grid-column: 1/3;
      }
      .submit {
        grid-column: 1/3;
      }
    }
  }
}
