#section-quote {
  background: url("/img/section-quote-bg-img.jpg") center center no-repeat;
  background-size: auto;
  padding: 100px 0;
  margin-bottom: 120px;
  h3 {
    color: #fff;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  #section-quote {
    h3 {
      margin-bottom: 0;
    }
  }
}
