#section-quote {
	background: url("/img/section-quote-bg-img.jpg") center;
	margin-top: 100px;
	h3 {
		color: #fff;
		margin-bottom: 20px;
	}
}
@media (min-width: 992) {
	#section-quote {
		h3 {
			margin-bottom: 0;
		}
	}
}
