#section-quote {
  background: url("/img/section-quote-bg-img.jpg") center center no-repeat;
  background-size: cover;
  padding: 100px 0;
  margin-bottom: 120px;
  .reveal-title {
    margin-bottom: 20px;
    .split-child {
      color: #fff;
    }
  }
}
@media (min-width: 992px) {
  #section-quote {
    h3 {
      margin-bottom: 0;
    }
  }
}
